@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); 

html{
    min-height: 100vh;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background-color: rgb(209, 208, 208);
    header{
        background-color: black;
        color: white;
        h1{
            text-align: center;
        }
        p{
            text-align: center;
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: rgba(155, 109, 22, 0.816);
                }
            }
        }
    }
    main{
        section{
            padding-top: 10vh;
            padding-bottom: 10vh;
            padding-left: 30px;
            font-family: sriracha;
            &.normal{
                background-color: white;
            }
            &.imagem{
                background-color: darkgray;
                background-image: url();
                color: white;
                p{
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.586);
                    width: 250px;
                    padding: 7px 0px 7px 15px;
                    border-radius: 15px;
                }
                &#primeiro{
                    background-image: url(../imagens/background001.jpg);
                    background-size: cover;
                    background-position: center center; 
                    background-attachment: fixed;
                }
                &#segundo{
                    background-image: url(../imagens/background002.jpg);
                    background-size: cover;
                    background-position: center center;
                    background-attachment: fixed;
                }

            }
        }
    }
    footer{
        background-color: black;
        color: white;
        font-size: 0.6em;
        text-align: center;
        padding: 15px;
        a{
            color: rgb(176, 176, 176);
            &:hover{
                color: rgba(155, 109, 22, 0.816);
            }
        }
    }
}
